<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-title class="ion-text-center">Cadastro</ion-title>

 <form>

  <ion-item>
    <ion-label position="floating">Nome do Produto:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Validade:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <div class="butSave">
    <ion-button expand="full">SALVAR</ion-button>
  </div>

 </form>

</ion-content>
